
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finalizar</title>
</head>
<body>
    <center>
        <h1>O Preço a Pagar é</h1>
        <h1> R$ @ViewBag.Preco</h1>
        <form action="/Home/Index"><input type="submit" value="Voltar" /></form>
    </center>
</body>
</html>
