
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <ul class="nav nav-tabs" id="navId">
        <li class="nav-item">
            <a href="/Home/Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/Usuario/Form" class="nav-link">Usuário</a>
        </li>
        <li class="nav-item">
            <a href="/Produto/FormProd" class="nav-link">Produto</a>
        </li>
        <li class="nav-item">
            <a href="/CategoriaProduto/FormCatProd" class="nav-link">Categoria de Produto</a>
        </li>
        <li class="nav-item">
            <a href="/Carrinho/Escolher" class="nav-link active">Carrinho</a>
        </li>
    </ul>
    <div>
        <center>
            <form action="/Carrinho/Escolher">
                <label for="Nome">Nome: </label>
                <input type="text" name="user.Nome" />
                <label for="Senha">Senha: </label>
                <input type="password" id="descricao" name="user.Senha" />
                <br />
                <input id="submit" type="submit" value="Login" />
            </form>
            <br /><br /><br /><br />
        </center>
    </div>
</body>
</html>
